/* Login CSS goes here */
/* 
.login-grid {
    height: '100vh' 
}

.login-grid-column {
    max-width: 450;
}

.login-image{ 
    margin: 0px;
    height : 100px; 
    width: 100px;
}

.login-button {
    border: solid 1px black ;
    color: black;
}

.text-div {
    text-align: center;
    margin: 15px
}

.create-account-button{
    border: solid 1px black;
    color: black;
} */